*.pkl filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
DataSets/ filter=lfs diff=lfs merge=lfs -text
05_outputs/ filter=lfs diff=lfs merge=lfs -text 
DataSets/3/D3-Predictors.csv filter=lfs diff=lfs merge=lfs -text
